.wrapp {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    .wrapp_message {
        display: flex;
        flex-direction: column;
        padding-bottom: 90px;
        .wrapp_message_ul {
            display: inherit;
        }
    }
    .listitem {
        margin-bottom: 100px;
    }
    form.wrapp_bottom {
        display: flex;
        align-items: flex-end;
        margin: 0 auto;
        padding: 0 8px 0 14px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 900px;
        background-color: white;
        z-index: 1;
        .wrapp_bottom_textField {
            flex: 3 1 800px;
            margin-bottom: 10px;
            margin: auto 10px 10px auto;;
        }
    }
    .wrapp_bottom_scroll {
        position: absolute;
        top: 0px;
        left: 0;
    }
}



